header {
    background-color: dimgrey;
}

.left-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 0.5%;
    height: 100%;
    margin-right: 1%;
    background-color: #cc6b5a;
}

.left-menu:hover {
    width: 10%;
    transition: all 0.3s ease-in-out;
}

.main {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
}