body {
    background-color: #2f4f4f;
}

:root {
    box-sizing: border-box;
}

*,
::before, ::after{
    box-sizing: inherit;
}

.container {
    margin: auto auto;
}

.nav {
    background-color: pink;
    padding: 0.2em 0;
}

ul > li + li {
    margin-left: 1.5em;
}

ul {
    list-style: none;
}

li:last-child {
    /*margin-right: 1.5em;*/
    float: right;
}

li {
    display: inline-block;
    padding: .5em 1em;
    background-color: hotpink;
}

li a {
    text-decoration: none;
    color: black;
}

.column-big {
    background-color: #000011;
    color: white;
    margin-right: .5%;
    flex-direction: column;
    flex: 2;
    display: flex;
}

.login-form h3 {
    text-align: right;
    text-transform: uppercase;
    margin: .5em;
    font-size: .9em;
    font-weight: bold;
}

.login-form input:not([type=checkbox]):not([type=radio]) {
    display: block;
    width: 100%;
    margin-top: 0;
}

.login-form button {
    margin-top: 1em;
    border: 1px solid #cc6b5a;
    background-color: white;
    padding: .5em 1em;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
}

.column-big h1 {
    flex: 3;
}

.column-big p {
    flex: 2;
}

.main > * + * {
    margin-top: 0;
    margin-left: 1.5em;
}

.column-small {
    margin-left: 0;
    padding-left: 0;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

body * + * {
    margin-top: 1.5em;
}

.login {
    background-color: #000011;
    flex: 1;
}

.other {
    background-color: #000011;
    flex: 1;
    text-align: center;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.cost {
    display: flex;
    justify-content: center;
    align-items: center;
    /*line-height: .7em;*/
}

.cost > span {
    margin-top: 0;
}

.cost-currency {
    font-size: 2rem;
}
.cost-dollars {
    font-size: 4rem;
}
.cost-cents {
    font-size: 1.5rem;
    align-self: flex-start;
}
.cta-button {
    display: block;
    color: white;
    /*padding: 0 1em;*/
    font-size: 1.8em;
    text-decoration: none;
    background-color: #cc6b5a;
    margin: 1em 2em;
}

.cta-button p {
    background-color: white;
}