body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

button {
  background-color: white;
  color: rebeccapurple;
  border-radius: 5px;
  width: 200px;
  height: 80px;
  box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
}

.toast {
  width: 100px;
  height: 40px;
  background-color: white;

  box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
  border-radius: 5px;
  position: fixed;
  transition: bottom 1s ease-in-out;
  text-align: center;
  transform: translate(-50%, -50%);
  padding-top: 10px;
}
