.container {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 1080px;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.clearfix::after {
    display: block;
    content: ' ';
    clear: both;
}

body {
    background-color: #eee;
    text-align: center;
}
.header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    margin-bottom: 1.5em;
}

.media {
    float: left;
    width: 50%;
    padding: 1.5em;
    background-color: #eee;
    border-radius: 0.5em;
}

.main {
    background-color: #fff;
    border-radius: .5em;
}

.media:nth-child(odd) {
    clear: left;
}

.media .left {
    float: left;
}

div .right {
    text-align: center;
    overflow: auto;
}

div .left {
    float: left;
}

[class*="column-"] {
    float: left;
}


.column-1 { width: 8.3333%; }
.column-2 { width: 16.6667%; }
.column-3 { width: 25%; }
.column-4 { width: 33.3333%; }
.column-5 { width: 41.6667%; }
.column-6 {
    width: 50%;
    padding: 1.5em;
    background-color: #eee;
    border-radius: 0.5em;
}
.column-7 { width: 58.3333%; }
.column-8 { width: 66.6667%; }
.column-9 { width: 75%; }
.column-10 { width: 83.3333%; }
.column-11 { width: 91.6667% }
.column-12 { width: 100%; }