* {
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3494e4;
}

.remained > span {
  display: block;
  color: #144fc6;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-cup {
  width: 150px;
  height: 330px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cup {
  border-radius: 0 0 15% 15%;
  border-color: #144fc6;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: #144fc6;
}

.cup > span {
  display: block;
  color: #144fc6;
}

.cups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 280px;
}

.cups > div {
  height: 95px;
  width: 50px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
}
